//colors
$primary-color: rgb(27, 24, 29);
$secondary-color: #5b446a;
$third-color: #906387;

//backgrounds
$primary-background: rgb(231, 226, 233);
$main-background: linear-gradient(90deg, #7dd87d 25%, #4c9173 25%, #4c9173 50%, #5b446a 50%, #5b446a 75%, #906387 75%, #906387 100%);

//font-size
$mobile-font-size: 10px;
$primary-font-size: 14px;
$big-font-size: 22px;
$nav-font-size: 28px;

//line-height
$mobile-line-height: 16px;
$primary-line-height: 20px;
$big-line-height: 26px;
$nav-line-height: 35px;