@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Bungee+Shade&family=Irish+Grover&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import './variables';
@import './mixins';
@import './base';

button {
    background-color: $primary-color;
    border: 2px solid $third-color;
    color: $secondary-background;
    border-radius: 5px;
    font-size: $big-font-size;
    position: fixed;
    left: 50%;
    translate: (-50%);
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    padding: $button-padding;
}

h3 {
    font-family: "Roboto", sans-serif;

    span {
        color: $secondary-color;
    }
}

@media screen and (max-width: 786px), (max-height: 600px){
    button {
        font-size: $primary-font-size;
        margin-top: 40px;
    }
}

@media screen and (max-width: 480px), (max-height: 380px) {
    button {
        border-radius: 2px;
        border: 1px solid $third-color;
        margin-top: 60px;
    }
}





